<p id="notice"><%= notice %></p>

<h1>Trainers</h1>

<%= link_to 'New Trainer', new_trainer_path %> &nbsp;&nbsp;&nbsp;&nbsp;
<a href = "http://localhost:3000/clients">Back to Client List</a>
<br>
<br/>

<%= form_tag "/trainers/findtrainer" do %>
        <%= text_field_tag :search_trainer %>
		<%=submit_tag :search%>
        <%end%>
       <small>Search Full Name or Address</small>
 <br/>
 <br/>
<table id = "workout">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Address</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= trainer.Full_Name %></td>
        <td><%= trainer.Address %></td>
        <td><%= link_to 'Show Full Profile', trainer %></td>
        <td><%= link_to 'Edit Profile', edit_trainer_path(trainer) %></td>
        <td><%= link_to 'Delete Profile', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
    <% end %>
  </tbody>
</table>
